*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

:root{
    --text: #0a0e0d;
    --background: #f5f8f7;
    --primary: #6b9487;
    --secondary: #afbbc5;
    --accent: #8c96ac;
    --header-height-desktop: 5vh;
}

body{
    color: var(--text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0px;
    background-color: transparent;
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    @media(min-width: 1024px){
        min-height: var(--header-height-desktop);
    }
}

header img{
    width: 15vw;
    padding-left: 10px;
    @media(min-width: 1024px){
        width: 5vw;
    }
}

.menu-links{
    display: none;
    @media(min-width: 1024px){
        display: flex;
        gap: 1vw;
        padding-right: 2vw;
    }
}

header a{
    font-size: 20px;
    text-decoration: none;
    color: var(--text);
    transition: 200ms;
}

header a:hover{
    color: var(--secondary);
    transition: 200ms;
}

header a:active{
    color: var(--secondary);
}

main{
    background-color: var(--background);
    width: 100%;
    min-height: 92vh;
    flex: 1;
    @media(min-width: 1024px){
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.hero-section{
    display: none;
    @media(min-width: 1024px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
        min-height: 90vh;
        width: 100%;
        background-color: var(--background);
    }
}

.hero-section p{
    font-size: 50px;
}

.hero-btn-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero-btn-container a{
    color: var(--text);
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: var(--primary);
    border-radius: 8px;
    transition: 300ms;
}

.hero-btn-container a:hover{
    transition: 300ms;
    background-color: var(--secondary);
}

.header-blocker{
    position: sticky;
    top: 0;
    min-height: 8vh;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
    min-height: 10vh;
}

footer a{
    text-decoration: none;
    color: var(--text);
    transition: 200ms;
}

footer a:hover{
    color: var(--secondary);
    transition: 200ms;
}

/* Contact */
.contact-container{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media(min-width: 1024px){
        width: 30vw;
        background-color: var(--background);
        border-radius: 6px;
        -webkit-box-shadow: 3px 1px 12px 1px var(--text); 
        box-shadow: 3px 1px 12px 1px var(--text);
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
    width: 80%;
    @media(min-width: 1024px){
        width: 50%;
    }
}

.contact-form button{
    border: 0;
    background-color: var(--primary);
    width: 50%;
    padding: 5px;
    border-radius: 6px;
    font-weight: 500;
    transition: 300ms;
}

.contact-form button:hover{
    background-color: var(--secondary);
    transition: 300ms;
}

.contact-form input{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--accent);
    height: 2em;
}

.contact-form textarea{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--accent);
    resize: none;
    height: 5em;
}